<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.SysMasMapper">
	
	<!-- R은 Map으로 -->
    <select id="SMList" resultType="java.util.HashMap" parameterType="map">
        SELECT * FROM SYS_MAS
        WHERE 1 = 1
        <if test="SYS_ID != null and SYS_ID != ''">
        	AND SYS_ID = #{SYS_ID}
        </if>
        <if test="BIZ_NM != null and BIZ_NM != ''">
        	AND BIZ_NM = #{BIZ_NM}
        </if>
        <if test="SYS_NM != null and SYS_NM != ''">
        	AND SYS_NM = #{SYS_NM}
        </if>
        <if test="SYS_ST != null and SYS_ST != ''">
        	AND SYS_ST = #{SYS_ST}
        </if>
        <if test="PASS_PTN_TYPE != null and PASS_PTN_TYPE != ''">
        	AND PASS_PTN_TYPE = #{PASS_PTN_TYPE}
        </if>
        <if test="PASS_SIZE != null and PASS_SIZE != ''">
        	AND PASS_SIZE = #{PASS_SIZE}
        </if>
        <if test="QR_USE_YN != null and QR_USE_YN != ''">
        	AND QR_USE_YN = #{QR_USE_YN}
        </if>
        <if test="REG_DTTM != null and REG_DTTM != ''">
        	AND REG_DTTM = #{REG_DTTM}
        </if>
        ORDER BY SYS_ID
    </select>
     
    <select id="fetchSMBySYS_ID" resultType="java.util.HashMap" parameterType="map">
        SELECT * FROM SYS_MAS
        WHERE SYS_ID = #{sysId}
    </select>


	<!-- C, U, D는 VO로 -->
    <insert id="insertSM" parameterType="SysMasVO">
        INSERT INTO SYS_MAS(SYS_ID, BIZ_NM, SYS_NM, SYS_ST, PASS_PTN_TYPE, PASS_SIZE, QR_USE_YN)
        VALUES(#{sysId}, #{bizNm}, #{sysNm}, #{sysSt}, #{passPtnType}, #{passSize}, #{qrUseYn})
    </insert>
     
    <update id="updateSM" parameterType="SysMasVO">
        UPDATE SYS_MAS
        SET BIZ_NM = #{bizNm}, SYS_NM = #{sysNm}, SYS_ST = #{sysSt}, PASS_PTN_TYPE = #{passPtnType}, PASS_SIZE = #{passSize}, QR_USE_YN = #{qrUseYn} 
        WHERE SYS_ID = #{sysId}
    </update>
     
    <delete id="deleteSM" parameterType="String">
        DELETE FROM SYS_MAS
        WHERE SYS_ID = #{sysId}
    </delete>
  
</mapper>